# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (Safety First!)
.env
.env.local

# Operating System junk files
.DS_Store
Thumbs.db
Desktop.ini

# Optional: Editor directories
.idea/
.vscode/
*.swp